<p id="notice"><%= notice %></p>

<h1><%= t("cats") %></h1>

<%= form_tag('/cats', method: 'get') do %>
<%= label_tag(:name_key, 'Search name:') %>
<%= text_field_tag(:name_key) %>
<%= submit_tag('Search') %> <%= link_to 'Clear', cats_path %>
<% end %>

<br>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th><%= t("feed") %></th>
      <th><%= t("name") %></th>
      <th><%= t("adress") %></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= link_to cat.feed.name, cat, class: 'widelink' %></td>
        <td><%= link_to cat.name, cat, class: 'widelink' %></td>
        <td><%= link_to cat.address, cat, class: 'widelink' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_cat_path, class: 'btn btn-primary'  %>
<%= link_to 'Show Feeds', feeds_path %>
